<h1>Reactive Driven Forms !</h1>


<p>
  Template-driven forms make use of the "FormsModule", while reactive forms are based on "ReactiveFormsModule".
  Template-driven forms are asynchronous in nature, whereas Reactive forms are mostly synchronous.
</p>

<form [formGroup]="loginForm" (ngSubmit)='login()'>
  <fieldset formGroupName="groupName">
    <label>Nachname :</label>
    <input type="text" name="nachname" required maxlength="8" formControlName="nachname"><br>
    <label>Vorname :</label>
    <input type="text" name="vorname" required maxlength="8" formControlName="vorname"><br>
  </fieldset>
  <label>eMail :</label>
  <input type="text" name="eMail" required email formControlName="eMail"><br>
  <label>Passwort :</label>
  <input type="password" name="password" required minlength="3" pattern=".*\d.*" formControlName="password"><br>
  <button type="submit">Login</button>
  <button type="button" (click)="resetPwd()">resetPwd</button>
  <button type="button" (click)="resetAll()">resetAll</button>
</form>

<br><br><br>
<hr>
<div> Name :{{inputNachname}}</div><br>
<div> Vorname :{{inputVorname}}</div><br>
<div> Email :{{inputEmail}}</div><br>
<div> Validation Email :{{statusEmail}}</div><br>
<div> PWD :{{inputPassword}}</div><br><br>
<div> Status Input :{{status}}</div><br>
