<div class="Titel">
  <h1>UDEMY ANGULAR 5</h1>

  <a target="_blank" rel="noopnener" href="https://wiki.selfhtml.org/wiki/Referenz:HTML" title="HTML Referenz">HTML
    Referenz</a>
</div>

<app-navigation></app-navigation>
<!--
<app-dependency-injection></app-dependency-injection>
<app-bindings-and-properties (meinEvent)="meinEventHandler()"
                             [eigenschaft]="'ABER doch nicht so fest ?? Tust du immer was man dir sagt ? Brav ! !'"></app-bindings-and-properties>
<app-structur-directiven></app-structur-directiven>
-->
