<div>
  <h2>Routes !</h2>
  <p>Mit Routes wird die Struktur der ganzen Page definiert</p>
  <p>Die Routes werde in der app.modul.ts definiert in einer constante</p>

  <div>
    <div>
    <textarea class="input" style="height: 130px">

    const webSiteRoutes: Routes = [<br>
    '{{ "{" }}'path: 'NavigationComponent', component: NavigationComponent '{{ "}" }}',<br>
    '{{ "{" }}'path: 'RoutesComponent', component: RoutesComponent '{{ "}" }}',<br>
    '{{ "{" }}'path: 'StructurDirectivenComponent', component: StructurDirectivenComponent '{{ "}" }}',<br>
    '{{ "{" }}'path: 'BindingsAndPropertiesComponent', component: BindingsAndPropertiesComponent '{{ "}" }}',<br>
    '{{ "{" }}'path: 'DependencyInjectionComponent', component: DependencyInjectionComponent '{{ "}" }}'<br>
    ];<br>

    </textarea>
    </div>

    <p>Diese wird dann in den Imports von app.modules.ts importiert :<br></p>
    <div>
    <textarea class="input" style="height: 90px">

    imports: [<br>
    RouterModule.forRoot(webSiteRoutes),<br>
    BrowserModule<br>
    ],

    </textarea>

    </div>


    <p>Die Links können dann in der entsprechenden Komponente im Tag router-link eingeblendet werden </p>

    <div>
    <textarea class="input" style="height: 180px">

      <div class="navigation">
      <h2>Angular 5 Themen</h2>
      <a routerLink="/StructurDirectivenComponent">StructureDirectivenComponent</a><br>
      <a routerLink="/BindingsAndPropertiesComponent">Bindings and Properties Component</a><br>
      <a routerLink="/DependencyInjectionComponent">Dependency Injection Component</a><br>
      <a routerLink="/RoutesComponent">Routes Component</a><br>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </textarea>

  </div>

</div>
