<div class="navigation">
  <h2>Angular 5 Themen</h2>
  <a routerLink="/StructurDirectivenComponent" routerLinkActive="active">StructureDirectivenComponent</a><br>
  <a routerLink="/BindingsAndPropertiesComponent" routerLinkActive="active">Bindings and Properties Component</a><br>
  <a routerLink="/DependencyInjectionComponent" routerLinkActive="active">Dependency Injection Component</a><br>
  <a [routerLink]="['/RoutesComponent', myLinkParameter]" routerLinkActive="active">Routes Component</a><br>
  <a routerLink="/TemplateDrivenFormsComponent" routerLinkActive="active">Template Driven Forms Component</a><br>
  <br><br><br><br><br><br><br>
  <p [ngStyle]="{'text-align':'center','font-size':'30px'}">
    <a routerLink="">back</a><br>
  </p>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
